# .mailmap - Unified git author names and emails
# Format: <Proper Name> <Proper Email> <Commit Name> <Commit Email>

lipish <lipeng.sh@qq.com> lipish <lipeng.sh@qq.com>
lipish <lipeng.sh@qq.com> lipi <lipeng.sh@qq.com>
lipish <lipeng.sh@qq.com> Claude <lipeng.sh@qq.com>
lipish <lipeng.sh@qq.com> "claude code" <lipeng.sh@qq.com>
